body, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.calendar {
    width: 300px;
    margin: 20px auto;
}

.month ul {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.month ul li {
    display: inline-block;
    font-size: 20px;
}

.weekdays li, .days li {
    float: left;
    padding: 8px;
    width: 42px;
    text-align: center;
    border: 1px solid #ddd;
}

.days li {
    background-color: #f9f9f9;
}

.days li:hover {
    background-color: #ddd;
}

.prev, .next {
    cursor: pointer;
}
